@charset "utf-8";
/* ====== IMPORTS ====== */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* ====== RESET ====== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    font-size: 100%;
    font-family: 'Nunito', sans-serif;
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* ====== DEFAULT ====== */
a,
button {
    text-decoration: none;
    transition: all 0.2s linear;
}
a:hover,
button:hover {
    text-decoration: none;
    transition: all 0.2s linear;
}
*:focus {
    outline: none;
}
a img {
    border: none;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 100%;
    margin: 0;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.max-w {
    width: 100%;
    /*    max-width: 1920px;*/
    margin-left: auto;
    margin-right: auto;
}
.titulo-planos {
    font: 28px 'Nunito', sans-serif;
    color: #FFF;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    background-color: #47080073;
    border-radius: 10px;
    padding: 10px;
    margin-top: 42px;
    margin-left: 42px;
    margin-right: 42px;
}
.planos {
    background: url(../images/bg_topo.webp) no-repeat center top;
    background-size: cover;
    padding-top: 0
}
img.logo {
    width: 35%;
    max-width: 250px;
    min-width: 150px;
}
.planos .logo {
    display: block;
    margin: 0 auto 25px;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
}
.planos .img-fluid {
    display: block;
    margin: 0 auto 25px;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
}
.planos .title {
    text-align: center;
}
.planos .title h2 {
    font: 20px 'Nunito', sans-serif;
    color: #FFF;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px;
}
.planos .title p {
    
    color: #FFF;
    line-height: 30px;
}
.planos ul.listaPlanos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.planos ul.listaPlanos li {
    width: 100%;
    max-width: 280px;
    margin-bottom: 55px;
    position: relative;
    text-align: center;
}
.planos ul.listaPlanos li:nth-child(2n) {
    margin-top: -20px;
}
.planos ul.listaPlanos li:nth-child(4n) {
    margin-top: 0;
}
.planos ul.listaPlanos li .box {
    background: #FFF;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.1);
    margin-top: -50px;
    position: relative;
    padding: 75px 0 105px;
    z-index: 10;
    min-height: 550px;
}
.planos ul.listaPlanos li img {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}
.planos ul.listaPlanos li h3 {
    color: #333;
    font-size: 24px;
    padding: 0 15px;
    margin-bottom: 25px;
}
.planos ul.listaPlanos li h3 span {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 10px;
}
.planos ul.listaPlanos li .valor {
    padding: 0 15px;
    font-size: 25px;
    color: #333;
    font-weight: 900;
    margin-bottom: 25px;
    line-height: 30px;
    display: flex;
    justify-content: center;
}
.planos ul.listaPlanos li .valor small {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-right: 10px;
}
.planos ul.listaPlanos li .valor span {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    display: inline-block;
    margin-left: 10px;
    text-align: left;
}
.planos ul.listaPlanos li p {
    color: #333;
    font-size: 14px;
    padding: 0 10px;
    margin-bottom: 18px;
    line-height: 20px;
}
.planos ul.listaPlanos li p a {
    font-size: 12px;
    color: #333;
    font-weight: 800;
    text-decoration: none
}
.planos ul.listaPlanos li p a:hover {
    color: #009ED1;
}
.planos ul.listaPlanos li .btn {
    border-top: 1px solid #e3e3e3;
    position: absolute;
    bottom: 25px;
    left: 4px;
    right: 4px;
    padding-top: 25px;
}
.planos ul.listaPlanos li .btn a {
    display: inline-block;
    width: 170px;
    line-height: 48px;
    border-radius: 8px;
    background: #28a745;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
}
.planos ul.listaPlanos li .btn a:hover {
    background: #ed2c34;
}
.motivos {
    padding: 50px 0 35px;
}
.motivos .title {
    text-align: center;
    margin-bottom: 30px;
}
.motivos .title h2 {
    font: 22px 'Nunito', sans-serif;
    color: #9c1218;
    font-weight: 800;
    line-height: 28px;
    margin-bottom: 15px;
}
.motivos .title p {
    font-size: 16px;
    color: #333;
    line-height: 25px;
}
.motivos ul {
    width: 100%;
}
.motivos ul li {
    width: 100%;
    max-width: 380px;
    text-align: center;
    margin: 0 auto 30px;
}
.motivos ul li img {
    display: block;
    margin: 0 auto 20px;
    width: 150px;
    height: 150px;
}
.motivos ul li p {
    font-size: 14px;
    color: #242424;
    line-height: 20px;
}
.duvidas {
    margin-bottom: 100px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 20px #ddd;
    padding-top: 50px;
    padding-bottom: 50px;
}
.duvidas h2 {
    text-align: center;
    font: 22px 'Nunito', sans-serif;
    color: #9c1218;
    font-weight: 800;
    line-height: 28px;
    margin-bottom: 20px;
}
.duvidas #accordion {
    border: 1px solid #9c1218;
    border-radius: 10px;
    overflow: hidden;
}
.duvidas #accordion .topico a {
    font: 14px 'Nunito', sans-serif;
    color: #333;
    line-height: 24px;
    margin-top: 15px;
    padding: 0 45px 15px 10px;
    position: relative;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #9c1218;
}
.duvidas #accordion .topico a:after {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 0;
    background: #9c1218 url(../images/bullet_close.svg) no-repeat center;
    transform: rotate(180deg);
    transition: all 0.2s linear;
    border-radius: 50%;
    background-size: cover;
}
.duvidas #accordion .topico a.collapsed:after {
    background: #9c1218 url(../images/bullet_plus.svg) no-repeat center;
    transform: rotate(0deg);
    transition: all 0.2s linear;
}
.duvidas #accordion .collapse {
    border-bottom: 1px solid #9c1218;
    background: #fff;
}
.duvidas #accordion p {
    font-size: 14px;
    color: #333;
    margin: 10px 20px;
}
.lpFooter {
    background: #9c1218;
    padding: 32px 0;
}
.lpFooter .infoContato {
    text-align: center;
    margin-bottom: 15px;
}
.lpFooter .copyright {
    text-align: center;
}
.lpFooter .infoContato p {
    font-size: 13px;
    color: #FFF;
    margin-bottom: 5px;
}
.lpFooter .copyright p {
    font-size: 13px;
    color: #FFF;
    margin-bottom: 10px;
}
.lpFooter .infoContato p strong {
    display: block;
    font-size: 20px;
}
.lpFooter .copyright .grupo {
    display: block;
    margin: 0 auto 15px;
}
.modal-dialog .btClose {
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    float: right;
    outline: none;
    margin-bottom: 15px;
    cursor: pointer;
}
.modal-backdrop {
    background: #1B1C3A;
    opacity: 0.9 !important;
}
.modal-content {
    border: none;
    border-radius: 8px;
    padding: 30px 20px;
}
.modal-content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 25px;
}
.modal-content p {
    font-size: 14px;
    color: #333;
    line-height: 24px;
}
.bgGeral {
    background: url(../images/bg_topo.png) no-repeat center top;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}
.topo {
    background: #FFF;
    margin-bottom: 20px;
    height: 80px;
    border-radius: 10px;
}
.topo .selo {
    display: none;
}
.topo h1 {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: #FFF;
    margin-top: 32px;
}
.topo h1 span {
    font-weight: 300;
    color: #F3BF00;
    display: inline-block;
    margin-left: 10px;
}
.etapa {
    margin-bottom: 30px;
}
.etapa ul {
    display: none;
}
.etapa .mob {
    text-align: center;
    font-size: 16px;
    color: #FFF;
    text-transform: uppercase;
}
.etapa .mob span {
    color: #F3BF00;
}
.planoMob {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    padding: 15px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.planoMob h3 {
    font-size: 16px;
    color: #333;
    line-height: 20px;
}
.planoMob h3 span {
    display: block;
    font-size: 12px;
}
.planoMob .valor {
    text-align: right;
    font-size: 28px;
    color: #333;
    font-weight: 800;
}
.planoMob .valor small {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: -5px;
}
.planoMob .valor span {
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-top: -5px;
}
.planoDesk {
    display: none;
}
.boxForm {
    background: #FFF;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.1);
    padding: 35px 10px;
    margin-bottom: 20px;
}
.boxForm h2 {
    text-align: center;
    font-size: 20px;
    color: #333;
    margin-bottom: 28px;
}
.boxForm .linhaCampo {
    width: 100%;
    position: relative;
    margin-bottom: 18px;
}
.boxForm .linhaCampo.cod {
    width: 80px;
    float: left;
    margin-right: 15px;
}
.boxForm .linhaCampo input.campo-txt {
    width: 100%;
    border: 1px solid #ebebeb;
    background: #ebebeb;
    outline: none;
    border-radius: 4px;
    height: 52px;
    padding: 0 15px;
    transition: all 0.2s linear;
    font-size: 14px;
    color: #333;
}
.boxForm .linhaCampo input.campo-txt:focus,
.boxForm .linhaCampo input.campo-txt:not(:placeholder-shown) {
    border: 1px solid #979797;
    background: #FFF;
    transition: all 0.2s linear;
}
.boxForm .linhaCampo a {
    display: inline-block;
    float: right;
    margin-top: 5px;
    font-size: 11px;
    color: #333;
}
.boxForm .linhaCampo a:hover {
    color: #009ED1;
}
.boxForm .linhaCampo span.flag {
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px 15px 0 0;
    display: block;
    z-index: 20;
}
.boxForm .linhaCampo label {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px 0 0 10px;
    transition: all 0.2s linear;
    padding: 0 5px;
    z-index: 15
}
.label-float input::placeholder {
    color: transparent;
}
.boxForm .linhaCampo input.campo-txt:focus + label,
.boxForm .linhaCampo input.campo-txt:not(:placeholder-shown) + label {
    font-size: 12px;
    font-weight: 800;
    background: #FFF;
    margin-top: -8px;
}
.boxForm .btnForm {
    border: none;
    outline: none;
    background: #F3BF00;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
    cursor: pointer;
    margin-top: 20px;
    height: 48px;
    padding: 0 35px;
    line-height: 48px;
}
.boxForm .btnForm:hover {
    background: #009ED1;
    color: #FFF;
}
.boxForm a.lkCVV {
    display: inline-block;
    margin-top: 15px;
}
.form .selo {
    display: block;
    margin: 0 auto 40px;
}
.resumo {
    margin-bottom: 30px;
}
.resumo .box {
    background: rgb(0 0 0 / 50%);
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.1);
    padding: 35px 20px 15px;
}
.resumo .box h3 {
    color: #F3BF00;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 15px;
}
.resumo .box p {
    font-size: 14px;
    color: #FFF;
    margin-bottom: 20px;
}

@media only screen and (min-width : 370px) {}
@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) {
    .planos {
        padding-top: 0
    }

    .planos .logo {
        margin: 0 auto 60px;
    }

    .planos .title {
        margin-bottom: 40px;
    }

    .planos .title h2 {
        font-size: 30px;
        line-height: 42px;
    }

    .planos .title p {
        font-size: 20px;
    }

    .planos ul.listaPlanos {
        justify-content: space-around;
    }

    .planos ul.listaPlanos li:nth-child(2n) {
        margin-top: 0;
    }

    .planos ul.listaPlanos li:nth-child(4n) {
        margin-top: 0;
    }

    .motivos {
        padding: 100px 0 80px;
    }

    .motivos .title {
        margin-bottom: 50px;
    }

    .motivos .title h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .motivos .title p {
        font-size: 18px;
        line-height: 27px;
    }

    .motivos ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .motivos ul li {
        width: 47%;
        margin-left: 0;
        margin-right: 0;
    }

    .duvidas h2 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 40px;
    }

    .duvidas #accordion .topico a {
        font-size: 18px;
    }

    .lpFooter .infoContato {
        text-align: left;
        margin-bottom: 0;
    }

    .lpFooter .copyright {
        text-align: right;
    }

    .lpFooter .copyright .grupo {
        display: inline-block;
        margin: 0 0 0 30px;
        float: right;
    }

    .modal-dialog .btClose {
        margin-right: -30px;
    }

    .bgGeral {
        padding-top: 35px;
    }

    .topo {
        height: 100px;
        margin-bottom: 36px;
    }

    .topo h1 {
        text-align: left;
        font-size: 26px;
        margin: 36px 0 0 25px;
        float: left;
    }

    .topo h1 span {
        margin-left: 20px;
    }

    .topo .selo {
        display: block;
        float: right;
        margin: 38px 25px 0 0;
    }

    .etapa ul {
        display: flex;
        width: 100%;
    }

    .etapa ul li {
        flex: 1;
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #FFF;
        font-size: 16px;
        color: #FFF;
        text-transform: uppercase;
    }

    .etapa ul li.active {
        border-bottom: 1px solid #F3BF00;
        color: #F3BF00;
    }

    .etapa .mob {
        display: none
    }

    .planoMob {
        display: none;
    }

    .planoDesk {
        display: block;
    }

    .planoDesk .box {
        background: #FFF;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.1);
        padding: 45px 0;
        text-align: center;
    }

    .planoDesk .box h3 {
        color: #333;
        font-size: 26px;
        padding: 0 25px;
        margin-bottom: 25px;
    }

    .planoDesk .box h3 span {
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .planoDesk .box .valor {
        padding: 0 25px;
        font-size: 44px;
        color: #333;
        font-weight: 800;
        margin-bottom: 25px;
        line-height: 30px;
        display: flex;
        justify-content: center;
    }

    .planoDesk .box .valor small {
        font-size: 15px;
        font-weight: 400;
        display: inline-block;
        margin-right: 10px;
    }

    .planoDesk .box .valor span {
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        display: inline-block;
        margin-left: 10px;
        text-align: left;
    }

    .planoDesk .box p {
        color: #333;
        font-size: 14px;
        padding: 0 25px;
        margin-bottom: 18px;
        line-height: 20px;
    }

    .planoDesk .box p a {
        font-size: 12px;
        color: #333;
        font-weight: 800;
        text-decoration: none
    }

    .planoDesk .box p a:hover {
        color: #009ED1;
    }

    .boxForm {
        padding: 40px;
        margin-bottom: 50px;
    }

    .boxForm h2 {
        text-align: left;
        margin-bottom: 30px;
    }

    .form .selo {
        display: none;
    }
}

@media only screen and (min-width : 992px) {
    .planos ul.listaPlanos {
        width: 70%;
        margin: 0 auto;
    }

    .motivos ul li {
        width: 21%;
    }

    .duvidas #accordion .topico a {
        font-size: 20px;
        line-height: 25px;
        padding: 0 65px 20px 30px;
        margin-top: 20px;
    }

    .duvidas #accordion .topico a:after {
        right: 30px;
    }

    .duvidas #accordion p {
        font-size: 16px;
        margin: 10px 20px;
    }

    .lpFooter .copyright .grupo {
        margin-left: 55px;
    }

    .modal-content {
        padding: 45px 50px;
    }

    .resumo .box {
        padding: 35px 40px 15px;
    }
}

@media only screen and (min-width : 1200px) {
    .planos ul.listaPlanos {
        width: auto;
        margin: 0 -15px;
    }

    .planos ul.listaPlanos li {
        max-width: 270px;
    }
}

@media only screen and (min-width : 1240px) {
    .planos ul.listaPlanos {
        margin: 0 0 0 -55px;
        width: 1220px;
        display: flex;
        align-content: center;
        justify-content: center;
        column-gap: 20px;
    }

    .planos ul.listaPlanos li {
        max-width: 280px;
    }
}

@media only screen and (min-width : 1200px) {
    .planos ul.listaPlanos {
        margin: 0 0 0 -55px;
        width: 1220px;
        display: flex;
        align-content: center;
        justify-content: center;
        column-gap: 20px;
    }
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.cor-numero {
    color: #000000;

}

img {
    vertical-align: middle;
    border-style: none;
    width: 150px;
}

.mobile-slide h1 {
    font-size: 22px;
  }

/* Oculta o slide em dispositivos móveis */
@media (max-width: 767px) {
    .desktop-slide {
      display: none;
    }
  }

  /* Oculta o slide em telas maiores */
@media (min-width: 768px) {
    .mobile-slide {
      display: none;
    }
  }
