/* styles.css */
body.dark-bg {
    background-color: #121212; /* Background escuro */
    color: #ffffff; /* Texto claro */
    font-family: 'Roboto', sans-serif;
}

h1, h2, .lead {
    color: #ffffff; /* Texto claro */
}

.navbar {
    background-color: #121212; /* Background escuro para a navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-link {
    color: #ffffff !important; /* Texto claro */
}

.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #1a73e8 !important; /* Azul para hover */
}

.section-title {
    color: #1a73e8; /* Azul para título de seção */
    margin-bottom: 30px;
}

.card {
    background-color: #1e1e1e; /* Background escuro */
    color: #ffffff; /* Texto claro */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.progress {
    height: 20px;
    background-color: #333; /* Fundo da barra de progresso */
    border-radius: 10px;
}

.progress-bar {
    height: 20px;
    border-radius: 10px;
    transition: width 1.5s ease;
}

.rounded-circle {
    border: 5px solid #ffffff; /* Borda branca */
    transition: transform 0.3s ease;
}

.rounded-circle:hover {
    transform: scale(1.1);
}

footer {
    background-color: #000000; /* Background escuro para o rodapé */
    color: #ffffff; /* Texto claro */
}

form .form-control {
    background-color: #333; /* Background escuro para inputs */
    color: #ffffff; /* Texto claro */
    border: 1px solid #555;
}

form .form-control::placeholder {
    color: #aaaaaa; /* Placeholder mais claro */
}

form .btn-primary {
    background-color: #1a73e8; /* Azul para botão */
    border: none;
    transition: background-color 0.3s ease;
}

form .btn-primary:hover {
    background-color: #0c5db3; /* Azul mais escuro para hover */
}
