.services{
    .service-box{
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: space-between;
        @include media-query(492px) {
            align-items: flex-start;
            gap: 10px;
            flex-direction: column;
            padding: 10x;
        }
        .text-block {
            p{
                max-width: 283px;
            }
        }
        .img-block{
            margin: 0 auto;
        }
    }
}